{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 90,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "avoidParens": true
}